target
sparkproj.iml
data/parquet_orders.data
data/parquet_orders_output.json
.idea/
.gitignore
Foo.class
ISayHello$imp
ISayHello$imp.class
ISayHelloimp
ISayHelloimp.class
asmclass/
hello.sh
out/
src/main/scala/META-INF/
src/main/scala/resources/
src/resource/
uploadinsertjar.sh
